:root {
    --color-accent: #004844;
    --color-accent-text: #fff;
    --color-background: #fff;
    --color-background-alt: #e8f0ff;
    --color-text: #333;
    --color-link: #0a6560;
    --size-page-width: 1200px;
    --size-section-two-column: 860px;
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

* {
    font-family: "Poppins", sans-serif;
}

body, h1, p, nav {
    margin: 0;
    padding: 0;
}

body {
    min-width: 400px;
}

header {
    background-color: var(--color-accent); 
    color: var(--color-accent-text);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

header nav {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: var(--size-page-width);
    margin: auto;
}

header a {
    color: var(--color-accent-text);
    text-decoration: none;
    margin: 0 10px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}

header li {
    margin-right: 20px;
}

.home-icon {
    font-size: 24px;
    margin-left: 20px;
}

main {
    margin: auto;
}

h1 {
    font-size: 2.2em;
    color: var(--color-text);
}
h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.4em;
    color: var(--color-text);    
}

p span.highlight {
    font-weight: bold;
}

p a {
    font-weight: bold;
}

a {
    color: var(--color-link);
    text-decoration: none;
    /* font-weight: bold; */
}

a.button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: var(--color-accent-text);
    text-decoration: none;
    font-size: 1.2em;
}

.info-panel {
    padding: 25px;
}
.info-panel p {
    margin: 20px 0;
}

.panel-default {
    text-align: right;
}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

section > div {
    display: flex;
    max-width: var(--size-page-width);
}

section img {
    margin: 0.2rem 1.5rem 0 1.5rem;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
}

section h1,
section h2,
section p {
    text-align: right;
    padding: 5px 0px 15px 10px;
}

section.hero img {
    max-width: 400px;
    max-height: 400px;
}

@media (max-width: 860px) {
    section > div {
      flex-direction: column;
    }

    section h1,
    section h2,
    section p {
        text-align: left;
    }

    section img {
        max-width: 250px;
        max-height: 250px;
    }

    section.hero img {
        max-width: 300px;
        max-height: 300px;
    }

    ul.two-column li {
        flex-direction: column;
        font-size: 1em;
    }

    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.1em; 
    }
}

section.alternate {
    background-color: var(--color-background-alt);
}

section.single-column {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.single-column p {
    text-align: center;
}

section.alternate h2,
section.alternate p {
    text-align: left;
}

ul.two-column {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

ul.two-column li {
    margin: 0 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 2em;
}

ul.two-column li img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    border-radius: 0%;
}

footer {
    background-color: var(--color-accent);
    color: var(--color-accent-text);
    text-align: center;
    padding: 10px;
}
footer h4{
    font-weight: unset;
}
footer p {
    color: var(--color-accent-text);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li{
    justify-content: center;
}

footer li img {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
    border-radius: 0%;
}